<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>

    <form action="/produto-editar" method="post">

        <input type="text" name="id" value="<%=produto.id%>" hidden>

        <label>Nome</label>
        <input type="text" name="name" value="<%=produto.name%>"><br><br>

        <label>Descricao</label>
        <input type="text" name="descricao" value="<%=produto.descricao%>"><br><br>

        <label>Categoria</label>
        <select name="categoria">
            <% listaCategoria.forEach(categoria => { %> 

                <% if(categoria.name == produto.categoria) {  %> 

                    <option value=<%= categoria.valor %> selected> <%= categoria.valor %> </option>

                <% }else{ %>

                    <option value=<%= categoria.valor %> > <%= categoria.valor %> </option>

                <% } %>      
            <% }); %> 
           
        </select>
        
        <br><br>

        <label>Preço</label>
        <input type="text" name="preco" value="<%=produto.preco%>"><br><br>

        <input type="submit" value="Editar">

    </form>
    
</body>
</html>